<form [formGroup] = "registerForm">
    <div class="container">
        <h1>Register-Form </h1>
        <hr>
        <label for="username"><b>User Name </b></label>
        <input type="text" name="username" formControlName="name" placeholder="Enter user name" required>
        
        <label for="email"> <b>Email </b></label>
        <input type="text" name="email" formControlName="email" placeholder="Enter Email" required>

        <label for="pwd"><b>Password </b> </label>
        <input type="password" name="pwd" formControlName="pwd" placeholder="Enter Password" required>

        <label for="pwd-repeat"><b>Re-Enter Password </b></label>
        <input type="password" name="pwd-repeat" formControlName="repwd"placeholder="Repeat Password" required>

        <button type="submit" class="registerbtn" (click)="onSubmit();"><b>Register </b></button>
    </div>
    {{registerForm.value|json}}
</form>